NET "SW<7>"   LOC = "N3";
NET "SW<6>"   LOC = "E2";
NET "SW<5>"	  LOC = "F3";
NET "SW<4>"   LOC = "G3";
NET "SW<3>"   LOC = "B4";
NET "SW<2>"   LOC = "K3";
NET "SW<1>"   LOC = "L3";
NET "SW<0>"   LOC = "P11";
NET "Z<7>" LOC = "L14";
NET "Z<6>" LOC = "H12";
NET "Z<5>" LOC = "N14";
NET "Z<4>" LOC = "N11";
NET "Z<3>" LOC = "P12";
NET "Z<2>" LOC = "L13";
NET "Z<1>" LOC = "M12";
NET "Z<0>" LOC = "N13";
NET "btns<3>" LOC = "A7";
NET "btns<2>" LOC = "M4";
NET "btns<1>" LOC = "C11";
NET "btns<0>" LOC = "G12";
NET "disp_en<0>" LOC = "F12";
NET "disp_en<1>" LOC = "J12";
NET "disp_en<2>" LOC = "M13";
NET "disp_en<3>" LOC = "K14";
